body {
  font-family: 'Open Sans', sans-serif;
}

.widget {
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  margin: 15px;
}

.widget-title {
  margin: 10px;
  margin-top: 0;
  color: white;
}

.icon {
  float: right;
}

.facebook {
  background-color: rgb(59, 89, 152);
}

.twitter {
  background-color: rgb(0, 132, 180);
}