body {
  background-color: #ffdb4d;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
}

.head {
  background-color: #fcfcfc;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}

a:hover {
  cursor: pointer;
}

.title {
  letter-spacing: -1px;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (min-width: 900px) {
  .title {
    letter-spacing: 10px;
  }

  .center {
    width: 90%;
    margin: 0 auto;
  }
}

.links-div {
  width: 100%;
  text-align: center;
}

.admin-links {
  letter-spacing: 3px;
  margin: 0 20px;
  padding-top: 20px;
  display: inline-block;
  color: black;
}

.links {
  letter-spacing: 3px;
  margin: 0 20px;
  margin-bottom: 30px;
  display: inline-block;
  color: black;
}

.section-title {
  margin: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  font-style: italic;
  border-bottom: 1px solid #eaeaea;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.text-input {
  width: 85%;
  height: 30px;
  border-radius: 10px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.text-area-input {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .text-input {
    width: 300px;
  }

  .text-area-input {
    width: 85%;
  }
}

.widget {
  padding: 15px;
  margin: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}

.widget-title {
  margin: 10px;
  margin-top: 0;
  border-bottom: 1px solid #eaeaea;
}

.image {
  margin: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);
  transition: box-shadow .15s;
}

.image:hover {
  box-shadow: 0px 8px 13px rgba(0,0,0,.3);
}

.icon {
  float: right;
}

.description {
  font-size: 1.3em;
}

.select-input {
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  border-radius: 10px;
}

.auth-fail {
  color: red;
  font-style: italic;
  margin: 15px;
}

.derek {
  height: 70px;
  width: 150px;
  font-weight: bold;
  margin: 20px;
  bottom: 0;
  right: 0;
  display: inline-block;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.3);
  float: right;
}
